/* This is the style css file for Trevor Walker's website. All code was written from scratch.
    Date created: 4/15/2024
    Last Edited:  4/22/2024
    Author: Trevor Walker
    Contributors: Trevor Walker
*/

/* colors:
  beige: #f8f3e4
  green text: #017a16

  set2:
  beige: #F7DCB9
  green: #3a7c16
  brown: #B99470
/* This controls the main title on the home screen */
#Main-Title{
  
    color : #fff9df;
    font-size: max(5.5vw, 50px);
    font-family: verdana, arial;
    text-align: center;
    
}

#About-Me-Title{
  font-family: verdana, arial;
  text-align: center;
  font-size: max(2vw, 20px);
  position: relative;
  top: 15px;
  
}


body{
  margin: 0px;
  background-color: #B99470;
}

/* THESE ARE CLASSES*/

.icon-size{
  height: max(1.3vw, 15px)
}
.Contact-Icon{
  position: relative;
  top: 10px;
}
.Green-Box-3px{
  display: block;
  margin: auto;
  align-items: center;
  width: 15%;
  background-color: #3a7c16;
  height: 3px;
}
.Background-Image{
  background-image: url(images/jeju\ orange.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  
}

/* Sets the backbround for the navigation bar and keeps it in place */
.Navigation-Bar{
  background-color: #B99470;
  border-bottom: solid black 2px;
  display: block;
  position: fixed;
  height: max(3vw, 35px);
  top: 0%;
  left:0%;
  width: 100%;

}
.About-Me-Padding{
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 3%;
  text-align: center;
}
.Bold{
  font-weight: bold;
}
/* invisible box that is above main-title to get the right spacing */
.Box-7vw{
  height:7vw;
}
/* invisible box that is below main-title to get the right spacing */
.Box-50vw{
  height: 50vw;
}

.About-Me-Box{
  position: relative;
  top: 30px;
  border-radius: 20px;
  background-color: #F7DCB9;
  margin: auto;
  border: black 2px solid;
  color: #3a7c16;
  align-items: center;
  width: 35%;
}
.Contact-Info{
  display: flex;
  position: relative;
  justify-content: center;
}

.Contact-Link{
  text-decoration: none;
  color: #3a7c16;
  
}
.Contact-Boxes{
  border: black 2px solid;
  display: inline-block;
  border-radius: 20px;
  background-color: #F7DCB9;
  color: #3a7c16;
  width: 15%;
  text-align: center;
  margin: 3%;
  padding-bottom: 2%;
  font-size: max(1vw, 7px);
}


.down-shift-icon-5px{
  position: relative ;
  top: 5px;
}
.down-shift-icon-3px{
  position: relative ;
  top: 3px;
}
/* ensures all content in the navigation bar is centered */
.Navigation-Content{
  padding-right: 3%;
  padding-top: .5%;
  padding-left: 3%;
}

/* makes objects float to right side of screen*/
.float-right{
  float: right;
}

/* makes objects float to left side of screen */
.float-left{
  float: left;
}

/* controls spacing and style of the buttons in navigaiton bar */
.Navigation-Button{
  padding-right: 9%;
  text-decoration:none;
  color: #3a7c16;
  font-size:  max(1.5vw, 20px);
  
}