/* This is the style css file for Trevor Walker's website. All code was written from scratch.
    Date created: 4/15/2024
    Last Edited:  4/22/2024
    Author: Trevor Walker
    Contributors: Trevor Walker
*/

/* colors:
  beige: #f8f3e4
  green text: #017a16

  set2:
  beige: #F7DCB9
  green: #3a7c16
  brown: #B99470
/* This controls the main title on the home screen */
#Main-Title{
  
    color : #F7DCB9;
    font-size: max(5.5vw, 50px);
    font-family: verdana, arial;
    text-align: center;
    
}
/* Title for the about me section of the home page*/
#About-Me-Title{
  font-family: verdana, arial;
  text-align: center;
  font-size: max(2vw, 20px);
  position: relative;
  top: 15px;
  
}


body{
  margin: 0px;
  background-color: #B99470;
}

/* THESE ARE CLASSES*/


/*NAVIGATGION BAR*/

/*sets the size of the icons in navigation bar*/
.icon-size{
  height: max(1.3vw, 25px)
}

/* Sets the backbround for the navigation bar and keeps it in place */
.Navigation-Bar{
  background-color: #B99470;
  border-bottom: solid black 2px;
  display: block;
  position: fixed;
  z-index: 1;
  height: max(3vw, 60px);
  top: 0%;
  left:0%;
  width: 100%;

}

/* ensures all content in the navigation bar is centered */
.Navigation-Content{
  padding-right: 3%;
  padding-top: .5%;
  padding-left: 3%;
  height: max(2.5vw, 45px);
}

/* makes objects float to right side of screen*/
.float-right{
  float: right;
}

/* makes objects float to left side of screen */
.float-left{
  float: left;
}

.padding-9{
  padding-right: 9%;
}
/* controls spacing and style of the buttons in navigaiton bar */
.Navigation-Button{
  text-decoration:none;
  color: #3a7c16;
  font-size:  max(1.5vw, 35px);
  font-weight: bold;
  padding-right: 20px;

}
.Navigation-Button:hover{
  color: #498628;
  text-decoration: underline #498628 3px;
  border-radius: 10px;
  background-color: #F7DCB9;
}
.Drop-Title-Button{
  text-decoration:none;
  color: #3a7c16;
  font-size:  max(1.5vw, 35px);
  font-weight: bold;
}
.Drop-Title-Button:hover{
  color: #498628;
  text-decoration: underline #498628 3px;
  border-radius: 10px;
  background-color: #F7DCB9;
}
.Drop-Down-Options{
  display:none;
  text-decoration: none;
  background-color: #F7DCB9;
  border: none;
  padding: 4%;
}
.Drop-Down-Title{
  text-decoration:none;
  color: #3a7c16;
  display:inline-block;
  border:none;
  position: relative;
  padding-right: 20px;
}
.Drop-Down-Title:hover{

  background-color: #F7DCB9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Drop-Down-Title:hover .Drop-Down-Options{
  display:block;
}
.Drop-Down-Button{
  text-decoration: none;
  color: #3a7c16;
  font-size: 20px;
}
.Drop-Down-Button:hover{
  text-decoration: underline;
}
/*shifts the icons in the nav bar down so they are inline with the text*/
.down-shift-icon-5px{
  position: relative ;
  top: 5px;
}
.down-shift-icon-3px{
  position: relative ;
  top: 3px;
}
/*END OF NAVIGATION BAR*/

/*START OF MAIN IMAGE*/
/* invisible box that is above main-title to get the right spacing */
.Box-7vw{
  height:7vw;
}

/*controls the details of the main large image*/
.Background-Image{
  background-image: url(images/jeju\ orange.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  
}
/* invisible box that is below main-title to get the right spacing */
.Box-50vw{
  height: 50vw;
}
/* END OF MAIN IMAGE*/

/* START OF About me and contact BOXES*/

/*Sizing for the icons in the contact boxes*/
.Contact-Icon{
  position: relative;
  top: 10px;
}
/* Line that creates spacing in contact boxes */
.Green-Box-3px{
  display: block;
  margin: auto;
  align-items: center;
  width: 15%;
  background-color: #3a7c16;
  height: 3px;
}

.About-Me-Padding{
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 3%;
  text-align: center;
}

.Bold{
  font-weight: bold;
}

/* box for the About me section */
.About-Me-Box{
  position: relative;
  top: 30px;
  border-radius: 20px;
  background-color: #F7DCB9;
  margin: auto;
  border: black 2px solid;
  color: #3a7c16;
  align-items: center;
  width: 35%;
}
.Contact-Info{
  display: flex;
  position: relative;
  justify-content: center;
}

.Contact-Link{
  text-decoration: none;
  color: #3a7c16;
  
}
/* Boxes for the contact links */
.Contact-Boxes{
  border: black 2px solid;
  display: inline-block;
  border-radius: 20px;
  background-color: #F7DCB9;
  color: #3a7c16;
  width: 15%;
  text-align: center;
  margin: 3%;
  padding-bottom: 2%;
  font-size: max(1vw, 7px);
}
/* End of About me and Contact boxes*/

/*END OF HOME PAGE*/

/*START OF PROJECTS PAGE*/

.Projects-List{
  
  height: 50vw;
  margin: 5%;
  margin-top: 7%;  
}

.Feature-Project{
  
  border-radius: 20px;
  margin: 3%;
  background-color: #F7DCB9;
  display: flex;
  justify-content: center;
}

.Feature-Project-Picture{
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  width:40%;
  border: solid black 2px;
}
.Feature-Project-Picture-Image{
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  object-fit: cover;
  height:100%;
  width: 100%;
}
.Feature-Project-Text{
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;  
  width:60%;
  border: solid black 2px;
  color: #3a7c16;
  border: black solid 2px;
}

.Feature-Project-Text-Title{
  text-align: center;
  font-size: max(1vw, 25px);
  font-weight:bold;
}
.No-Margin{
  margin-top: 1%;
  margin-bottom: 0%;
}
.Margins-auto{
  margin: 2.5%;
  text-align: center;
  margin-top: 1.5%;
}